public-hoist-pattern[]=*next*
public-hoist-pattern[]=*react*
shared-workspace-lockfile=false
enable-pre-post-scripts=true
shamefully-hoist=true
strict-peer-dependencies=false
node-linker=hoisted
auto-install-peers=true
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
@trycourier:registry=https://registry.npmjs.org/