.ProseMirror {
  /* p {
    @apply leading-relaxed courier-my-3 first:courier-mt-0 last:courier-mb-0;
  }

  & > p {
    @apply courier-my-6 first:courier-mt-0 last:courier-mb-0;
  } */

  h1 {
    @apply courier-text-3xl;
  }

  h2 {
    @apply courier-text-2xl;
  }

  h3 {
    @apply courier-text-xl;
  }

  h4 {
    @apply courier-text-lg;
  }

  h5 {
    @apply courier-text-base;
  }

  h6 {
    @apply courier-text-sm;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply courier-font-bold first:courier-mt-0 last:courier-mb-0;
  }

  h1,
  h2,
  h3 {
    @apply courier-mt-12;
  }

  h4,
  h5,
  h6 {
    @apply courier-mt-8;
  }

  a.link {
    @apply courier-text-blue-700 courier-underline;
  }

  mark {
    @apply courier-bg-red-500 courier-rounded-sm courier-decoration-clone courier-text-inherit courier-py-1 courier-px-0 dark:courier-bg-red-400;
  }

  & img {
    @apply courier-h-auto courier-w-full courier-max-w-full;
  }

  [data-type="divider"] {
    @apply courier-py-4 courier-transition-all courier-duration-100 courier-ease-in-out courier-cursor-pointer;

    &.ProseMirror-selectednode {
      @apply courier-bg-black/5 dark:courier-bg-white/10;

      hr {
        @apply courier-border-t-black/30 dark:courier-border-t-white/30;
      }
    }

    /* &:hover:not(&.ProseMirror-selectednode) {
      @apply courier-bg-black/5;
      @apply dark:courier-bg-white/10;
    } */

    hr {
      @apply courier-border-0 courier-border-t courier-border-black/20 courier-bg-black/80 courier-m-0 courier-h-px;
      @apply dark:courier-border-white/20 dark:courier-bg-white/80;
    }
  }

  [data-type="emoji"] {
    display: inline-block;

    img {
      width: 1em;
      height: 1em;
      object-fit: cover;
      display: block;
    }
  }
}