@import "./components/CourierEditor/editor.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pop {
  0% {
    transform: scale(1);
    box-shadow: var(--box-shadow);
  }

  100% {
    transform: scale(var(--scale));
    box-shadow: var(--box-shadow-picked-up);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.lightTheme {
  height: 100%;
}

@layer base {
  * {
    @apply courier-border-border courier-outline-ring;
    /* @apply courier-border-border courier-outline-ring/50; */
  }

  body {
    @apply courier-font-sans courier-antialiased courier-bg-background courier-text-foreground;
  }
}

.courier-editor-container {
  @apply courier-relative courier-flex-1 courier-flex courier-flex-col courier-p-6 courier-overflow-y-auto courier-transition-all courier-duration-300 courier-ease-in-out;
  background: radial-gradient(#0A0A0A32 1px, transparent 1px);
  background-size: 15px 15px;
}

.courier-editor-sidebar {
  @apply courier-rounded-br-sm courier-border-border courier-bg-white courier-border-l courier-overflow-y-auto courier-h-full courier-transition-all courier-duration-300 courier-ease-in-out;
}

.courier-editor-loading {
  @apply courier-w-full courier-h-full courier-flex courier-items-center courier-justify-center courier-pb-10;
}

.courier-theme-editor-main {
  @apply courier-bg-white courier-rounded-lg courier-border courier-border-border courier-shadow-sm courier-max-w-2xl courier-select-none courier-self-center courier-w-full;

  >div {
    @apply courier-w-full;

    .ProseMirror {
      @apply courier-p-0;

      .react-renderer {
        &.node-paragraph {
          .is-empty {

            p {
              &::after {
                content: 'Write footer text...';
              }
            }
          }

          &:hover {
            .draggable-item {
              >button {
                @apply courier-hidden;
              }
            }
          }

          .draggable-item {
            @apply courier-p-0;
          }
        }
      }
    }
  }
}

.courier-editor-main {
  @apply courier-bg-white courier-rounded-lg courier-border courier-border-border courier-shadow-sm courier-max-w-2xl courier-select-none courier-self-center courier-w-full;

  >div {
    @apply courier-w-full;
  }
}

.courier-editor-preview-mode {
  &.courier-editor-preview-mode-mobile {
    .courier-editor-main {
      @apply courier-max-w-sm;

      &:hover {
        >button {
          @apply courier-hidden;
        }
      }
    }
  }

  .ProseMirror {

    &>.react-renderer {

      &.node-imageBlock,
      &.node-button,
      &.node-divider,
      &.node-paragraph,
      &.node-heading,
      &.node-blockquote {

        * {
          @apply courier-cursor-default courier-pointer-events-none;
        }

        [data-cypress="draggable-handle"] {
          @apply courier-hidden;
        }

        &:hover,
        &:active {
          [data-cypress="draggable-handle"] {
            @apply courier-hidden;
          }

          .node-element {

            &>div,
            &>hr,
            &.courier-empty-image {
              &::before {
                @apply courier-hidden;
              }
            }
          }
        }
      }

      &.node-imageBlock {
        .courier-empty-image {
          @apply courier-hidden;
        }
      }

      &.node-paragraph,
      &.node-blockquote {
        .is-empty {

          p,
          blockquote {
            &::after {
              @apply courier-hidden;
            }
          }
        }
      }

      &.node-heading {
        .is-empty {

          h1,
          h2,
          h3 {
            &::after {
              @apply courier-hidden;
            }
          }
        }
      }
    }
  }
}

.ProseMirror {
  @apply courier-caret-black dark:courier-caret-white courier-outline-0 courier-pr-10 courier-pl-4 courier-py-10 courier-z-0 lg:courier-pl-2 lg:courier-pr-10 courier-max-w-2xl courier-h-full;

  .selection {
    @apply courier-inline;
  }

  .selection,
  *::selection {
    @apply courier-bg-black/10 dark:courier-bg-white/20 courier-inline;
  }

  &>.react-renderer {
    @apply courier-my-12 first:courier-mt-0 last:courier-mb-0;

    &.node-divider {
      @apply courier-flex courier-flex-col courier-justify-center;
    }

    &.node-variable {
      @apply courier-inline-block courier-m-0;
    }

    &.node-dragPlaceholder {
      @apply courier-m-0;
    }

    &.node-paragraph {
      @apply courier-m-0;

      &:focus,
      &:focus-visible {
        outline: none;
      }
    }

    &.node-paragraph,
    &.node-blockquote {

      p {
        >div {
          @apply courier-block courier-relative courier-cursor-text;

          &[contenteditable="true"] {
            outline: none;
            caret-color: currentColor;
          }
        }
      }

      .is-empty {

        p,
        blockquote {
          position: relative;

          &::after {
            content: 'Write body text...';
            @apply courier-absolute courier-top-0 courier-left-0 courier-text-neutral-500 dark:courier-text-neutral-400 -courier-z-10;
          }
        }
      }
    }

    &.node-heading {

      h1,
      h2,
      h3 {
        >div {
          @apply courier-block courier-relative courier-cursor-text;

          &[contenteditable="true"] {
            outline: none;
            caret-color: currentColor;
          }
        }
      }

      .is-empty {

        h1,
        h2,
        h3 {
          position: relative;

          &::after {
            content: 'Write heading...';
            @apply courier-absolute courier-top-0 courier-left-0 courier-text-neutral-500 dark:courier-text-neutral-400 -courier-z-10;
          }
        }
      }
    }


    &.node-imageBlock,
    &.node-button,
    &.node-divider,
    &.node-paragraph,
    &.node-heading,
    &.node-blockquote {
      @apply courier-m-0 courier-relative;

      [data-cypress="draggable-handle"] {
        @apply courier-invisible;
      }

      &:hover,
      &:active {
        [data-cypress="draggable-handle"] {
          @apply courier-visible;
        }

        .node-element {

          &>div,
          &>hr,
          &.courier-empty-image {
            &::before {
              @apply courier-left-[-12px] courier-right-[-12px] courier-top-0 courier-bottom-0 courier-rounded-md courier-border-2 courier-border-border courier-absolute courier-content-[''];
            }
          }
        }
      }

      .node-element {
        @apply courier-relative;

        &:focus,
        &:focus-visible {
          outline: none;
        }
      }

      .selected-element {
        .node-element {
          @apply courier-relative courier-z-20;

          &::before {
            @apply courier-left-[-12px] courier-right-[-12px] courier-top-0 courier-bottom-0 courier-rounded-md courier-border courier-border-[#0085FF] courier-absolute courier-content-[''] -courier-z-10;
          }
        }

        .courier-actions-panel {
          @apply courier-block;
        }
      }
    }

    &.node-blockquote {
      @apply courier-m-0;
      @apply courier-text-foreground;
      @apply dark:courier-text-white;
    }
  }

  &.resize-cursor {
    @apply courier-cursor-col-resize;
  }

  .ProseMirror-gapcursor {
    @apply courier-relative courier-w-full courier-max-w-2xl courier-mx-auto;

    &:after {
      @apply courier-border-t-black/40 dark:courier-border-t-white/40 courier-w-full courier-top-[-1.5em] courier-max-w-2xl courier-mx-auto courier-left-0 courier-right-0;
    }
  }
}

[data-theme="slash-command"] {
  @apply courier-w-full;
}

/* Basic editor styles */
.tiptap {
  outline: none;

  :first-child {
    margin-top: 0;
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  /* Code and preformatted text styles */
  code {
    background-color: var(--purple-light);
    border-radius: 0.4rem;
    color: var(--black);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  pre {
    background: var(--black);
    border-radius: 0.5rem;
    color: var(--white);
    font-family: "JetBrainsMono", monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  /* hr {
    border: none;
    border-top: 1px solid var(--gray-2);
    margin: 2rem 0;
  } */
}

@layer utilities {
  .animate-pop {
    animation: pop 200ms cubic-bezier(0.18, 0.67, 0.6, 1.22);
  }

  .animate-fadeIn {
    animation: fadeIn 500ms ease;
  }

  .touch-transparent {
    -webkit-tap-highlight-color: transparent;
  }

  .courier-editor-preview-mode {
    &>div:first-child {
      flex-grow: 1;
      width: 100%;
    }

    &>div:last-child {
      width: 0;
    }
  }
}