@import "./components/Editor/editor.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.lightTheme {
  height: 100%;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

.ProseMirror {
  @apply caret-black dark:caret-white outline-0 z-0 py-1 pl-12 py-4 lg:pl-12 mx-auto max-w-2xl;

  .selection {
    @apply inline;
  }

  .selection,
  *::selection {
    @apply bg-black/10 dark:bg-white/20 inline;
  }

  &>.react-renderer {
    @apply my-12 first:mt-0 last:mb-0;

    &.node-divider {
      @apply flex flex-col justify-center;
    }

    &.node-variable {
      @apply inline-block m-0;
    }

    &.node-paragraph {
      @apply m-0;

      &:focus,
      &:focus-visible {
        outline: none;
      }
    }

    &.node-paragraph,
    &.node-blockquote {
      .is-empty {

        p,
        blockquote {
          position: relative;

          &::after {
            content: 'Write something...';
            @apply absolute top-0 left-0 text-neutral-500 dark:text-neutral-400 -z-10;
          }
        }
      }
    }

    &.node-heading {

      .is-empty h1,
      h2,
      h2 {
        position: relative;

        &::after {
          content: 'Heading';
          @apply absolute top-0 left-0 text-neutral-500 dark:text-neutral-400;
        }
      }
    }


    &.node-imageBlock,
    &.node-button,
    &.node-divider,
    &.node-paragraph,
    &.node-heading,
    &.node-blockquote {
      @apply m-0 relative;

      &:hover {
        outline-style: solid;
        outline-width: 1px;
        outline-color: #0085FF;
        outline-offset: 2px;
      }

      &:focus,
      &:focus-visible {
        outline: none;
      }

      .selected-element {
        @apply relative z-20;

        &::before {
          content: '';
          @apply absolute inset-[-3px] pointer-events-none border border-[#0085FF] -z-10;
        }
      }
    }

    &.node-blockquote {
      @apply m-0;
      @apply text-foreground;
      @apply dark:text-white;
    }
  }

  &.resize-cursor {
    @apply cursor-col-resize;
  }

  .ProseMirror-gapcursor {
    @apply relative w-full max-w-2xl mx-auto;

    &:after {
      @apply border-t-black/40 dark:border-t-white/40 w-full -top-[1.5em] max-w-2xl mx-auto left-0 right-0;
    }
  }
}

[data-theme="slash-command"] {
  width: 1000vw;
}

/* Basic editor styles */
.tiptap {
  outline: none;

  :first-child {
    margin-top: 0;
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  /* Code and preformatted text styles */
  code {
    background-color: var(--purple-light);
    border-radius: 0.4rem;
    color: var(--black);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  pre {
    background: var(--black);
    border-radius: 0.5rem;
    color: var(--white);
    font-family: "JetBrainsMono", monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  hr {
    border: none;
    border-top: 1px solid var(--gray-2);
    margin: 2rem 0;
  }
}