.myTheme {
  --background: #ff0000;
  /* --foreground: #292929;
  --muted: #D9D9D9;
  --muted-foreground: #ffffff;
  --popover: #ffffff;
  --popover-foreground: #292929;
  --border: #DCDEE4;
  --input: #DCDEE4;
  --card: #FAF9F8;
  --card-foreground: #292929;
  --primary: #ffffff;
  --primary-foreground: #696F8C;
  --secondary: #6CBC6E;
  --secondary-foreground: #ffffff;
  --accent: #E5F3FF;
  --accent-foreground: #0085FF;
  --destructive: #ffffff;
  --destructive-foreground: #FF3363;
  --ring: #80849D;
  --radius: 6px; */
}