@import "./typography.css";
@import "./generated/theme.css";

.ProseMirror {
  /* .is-empty::before {
    @apply courier-text-neutral-500 dark:courier-text-neutral-400;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
    width: 100%;
  } */

  &>*:first-child,
  [data-type="column"]>* {
    @apply first:courier-mt-0 last:courier-mb-0;
  }

  &>*+* {
    margin-top: 0.75em;
  }

  .node-imageUpload {
    @apply courier-rounded courier-border-2 courier-border-dotted courier-border-black courier-border-opacity-10 courier-p-2 dark:courier-border-neutral-500;
    transition: border 160ms cubic-bezier(0.45, 0.05, 0.55, 0.95);

    &:hover {
      @apply courier-border-opacity-30;
    }

    &:has(.is-active),
    &.has-focus {
      @apply courier-border-opacity-40;
    }
  }

  [data-type="columns"] {

    &.has-focus [data-type="column"],
    &:hover [data-type="column"] {
      @apply courier-border-neutral-300 dark:courier-border-neutral-700;
    }

    [data-type="column"].has-focus {
      @apply courier-border-neutral-400 dark:courier-border-neutral-600;
    }
  }

  [data-type="column"] {
    @apply courier-rounded courier-border-2 courier-border-dotted courier-border-transparent courier-p-1;
    transition: border 160ms cubic-bezier(0.45, 0.05, 0.55, 0.95);

    &:hover {
      @apply courier-border-neutral-100 dark:courier-border-neutral-900;
    }

    &:has(.is-active),
    &.has-focus {
      @apply courier-border-neutral-100 dark:courier-border-neutral-900;
    }
  }

  .node-imageBlock {
    & img {
      @apply courier-border-2 courier-border-transparent courier-rounded-xl courier-overflow-hidden;
    }

    &:hover img {
      @apply courier-border-2 courier-border-neutral-100 dark:courier-border-neutral-900;
    }

    &:has(.is-active) img,
    &.has-focus img {
      @apply courier-border-2 courier-border-neutral-800 dark:courier-border-neutral-200;
    }
  }

  .node-aiWriter,
  .node-aiImage,
  .node-tableOfContentsNode {
    &.has-focus [data-node-view-wrapper]>* {
      @apply courier-shadow-[0_0_0_2px] courier-shadow-black/30 dark:courier-shadow-white/30 courier-transition-all courier-rounded-lg;
    }
  }

  .ProseMirror-gapcursor+.node-imageBlock,
  .ProseMirror-gapcursor+.node-imageUpload,
  .ProseMirror-gapcursor+.node-blockquote {
    @apply courier-outline-neutral-700 hover:courier-outline-neutral-600 dark:courier-outline-neutral-300 dark:hover:courier-outline-neutral-400;
  }
}